.list {
  margin: 5px;
  padding: 16px;
  color: black;
    outline-width: thick;
    outline-style: solid;
    outline-color: #0e0504;
    background-color: #ffffff;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column row;
    justify-content: space-evenly;
}

.shop {
    border: solid black;
    flex-basis: 16%;
    font-family: Arial, Helvetica, sans-serif;
}

.pageHeader {
    outline-color: 0e504;
    outline-style: solid;
    outline-width: thin;
    color: black;
    background-color: #ffffff;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 16px;
    border-radius: 25px;
    border-width: 2px;
    border: solid black
    }

  body {
  background-color: #ffffff;
  }
  img {
    padding: 16px;
    max-width: 100%;
    border-color: #0e0504;
    border-radius: 25px;
  }
  div {
    border-width: thick;
    border-color: #0e0504;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
nav {
  margin: 5px;
  padding: 16px;
  display: flex;
  justify-content:flex-start;
  border-radius: 25px;
  border: solid #0e0504;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
button {
  margin:auto ;
  display: flex;
  text-align: center;
  margin: 5px;
  padding: 15px 32px;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  border: solid black;
  border-radius: 25px;
}